@import "../../partials/mixins.scss";


.searchbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  input {
    width: 100%;
    padding: rem(10);
    
  }
  button {
    margin-left: rem(20);
  }
}